.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
1_1_prac1_data/*
1_1_prac1_outputs/*
1_2_hmwk1_data/*
1_2_hmwk1_outputs/*
2_1_prac2_data/*
2_1_prac2_outputs/*
2_2_hmwk2_data/*
2_2_hmwk2_outputs/*
3_1_prac3_data/*
3_1_prac3_outputs/*
3_2_hmwk3_data/*
3_2_hmwk3_outputs/*
4_1_prac4_data/*
4_1_prac4_outputs/*
4_2_hmwk4_data/*
4_2_hmwk4_outputs/*